.todolist-form {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.todolist-form .todolist-form__input {
  flex-grow: 5;
}

.todolist-form .todolist-form__input::placeholder {
  color: rgb(145, 202, 60);
}

.todolist-form .todolist-form__btn {
  flex-grow: 1;
  margin-left: 20px;
}
